[buildout]
extends = https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.0.x.cfg
package-name = plone.app.iterate
package-extras = [test]

[versions]
plone.app.iterate =
Products.GenericSetup = 1.8.2
